In [70]:
import pandas as pd 
from validate_docbr import CPF

path = "../coleta/nepotismo.csv"


dataset = pd.read_csv(path,sep = ';',encoding='ISO-8859-1')

In [71]:
#Verificandos estatísticas descritivas para entender os campos 
dataset.describe()

                 Nome        Cargo Tipo Cargo             cpf      Cidade
count           10000        10000      10000           10000       10000
unique           9953            6          3           10000          27
top     Jutaí Almeyda  Assistente    Indicado  480.905.661-97  Rio Branco
freq                2         7763       8267               1         371

In [72]:
#Verificando se existe valores Duplicados 

dataset.duplicated().sum()

0

In [73]:
#Verificando se existe valores nulos

dataset.isnull().sum()

Nome          0
Cargo         0
Tipo Cargo    0
cpf           0
Cidade        0
dtype: int64

In [74]:
#Veirificando tipos das Variaveis 
dataset.dtypes

Nome          object
Cargo         object
Tipo Cargo    object
cpf           object
Cidade        object
dtype: object

In [75]:
dataset_ibge=pd.read_csv('../coleta/Base_ibge.csv',sep = ';')

In [76]:
#Verificandos estatísticas descritivas para entender os campos 
dataset_ibge['Nome'].describe()

count               5570
unique               554
top       Ilhéus-Itabuna
freq                  41
Name: Nome, dtype: object

In [77]:
dataset_ibge.dtypes

Nome          object
cod_ibge       int64
sigla         object
Nome Sigla    object
dtype: object

In [78]:
dataset_ibge.duplicated().sum()
dataset_ibge.drop_duplicates(inplace=True)
dataset_ibge.duplicated().sum()

0

In [79]:
dataset_ibge.isnull().sum()

Nome          0
cod_ibge      0
sigla         0
Nome Sigla    0
dtype: int64

In [80]:
#Renomeando As Colunas 

dataset_ibge.rename(columns={'Nome': 'Cidade'},inplace=True)

In [81]:
dataset_ibge.to_csv(r'../tratamento/dataset_ibge_tratado.csv', index=False)
dataset.to_csv(r'../tratamento/dataset_tratado.csv', index=False)